<li><%= link_to 'New Blog Entry', new_post_path %></li>
<br>

<li><%= link_to 'Edit Blog Entry', deleteable_path %></li>
<br>
<li><%= link_to 'New Link', new_website_path%></li>
<br>
<li><%= link_to 'Delete Link', erase_link_path%></li>
