<h1>Posts</h1>


 <% @posts.each do |post| %> 
        <h4><%= post.title %></h4>
 		<%= link_to 'Delete Post', post, :method => :delete, :confirm => "Are you sure?" %> ||
 		<%= link_to 'Edit Blog Entry', edit_post_path(post) %>
        
        <br><br><br>
        <hr color="#000000" size="5">
        <br><br><br>
    <% end %> 
