<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	If you would like more information about how you can help stop human trafficking, please email us at Anna.Merzi@gmail.com.


	Thank you for your support!
</p>