<div class="center hero-unit">
	<h1>Human Traffic</h1>
<h2>These posts are designed to bring awareness to and inform people about human traficking here in the United States</h2>


<h3>
<%= link_to image_tag("help_me.jpg", alt: "Human Traficc"), 'http://humantrafic.com' %>
</h3>
<div align="left">
	

        <h4><%= @posts.title %></h4>
        <p><%= @posts.content %></p>
        <br><br><br><p>--------------------------------------------------------------------------------</p><br><br><br>
   

</div>

  