<div class="center hero-unit">
	<h1>Human Trafficking</h1>
<h2>Hi! I'm Anna Merzi. I worked to combat the growing problem of human trafficking here in America. These posts are designed to bring awareness to and inform people about human traficking here in the United States</h2>


<h3>
<%= link_to image_tag("help_me.jpg", alt: "Human Traficc"), "http://en.wikipedia.org/wiki/Human_trafficking" %>
</h3>
<div align="left">
<% if @posts!=nil %>
        <h4><%= @posts.title %></h4>
        <p><%= @posts.content %></p>
        
   <% end %>
   <br><br><hr><br>
   <%= link_to "Read the rest of the posts here!", posts_path %>
</div>

  