<div class="center hero-unit"><h1>Check out the new T-Shirt featuring Waka Flocka</h1>

<h2>
	Welcome to the image page! If you're interested in signing up please click on the link below the image
</h2>
<h3>
<%= link_to image_tag("chewbacca.jpg", alt: "Chewbacca"), 'http://starwars.com' %>
</h3>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>


