<h1>Posts</h1>
<div align="center">
<%= will_paginate @posts, :page_links => false %>
</div>
<br><br>
 <% @posts.each do |post| %> 
 	<div align="center">
        <h4 ><%= post.title %></h4>
    </div>
        <p><%= post.content %></p>
        <%= link_to 'Comment', post %>
        
        <br><br><br>
        <hr color="#000000" size="5">
        <br><br><br>
    <% end %> 
